---
layout: base
schema: blog
---

<article class="region blog" style="--region-space-top: var(--space-xl-2xl)">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>

    {% if image %}
      <!-- image -->
      {% image image, alt or title, credit, "eager", "feature" %}
    {% endif %}

    <p class="meta | cluster" style="--gutter: var(--space-xs-s)">
      <!-- date -->
      {% set definedDate = date %} {% include "partials/date.njk" %}
      {%
        if tags.length >
        1
      %}
        <!-- tags -->
        {% for tag in tags %}{% if tag != "posts" %}
          <a class="button post-tag" href="/tags/{{ tag }}"> {{ tag }} </a>
        {% endif %}{% endfor %}
      {% endif %}
    </p>

    {{ content | safe }}
  </div>

</article>
