---
layout: base
schema: blog
---

<article class="blog" style="--region-space-top: var(--space-m-l)">
  <div class="wrapper flow prose">

    <header class="full | section" style="--spot-color: var(--color-primary)">
      <div class="section__inner flow region">
        <h1 class="text-center text-base-light">{{ title }}</h1>
      </div>
      {% svg "divider/high-to-low", null, "seperator" %}
    </header>

    {% if image %}
      <!-- image -->
      {% image image, alt or title, credit, "eager", "feature" %}
    {% endif %}

    <p class="meta | cluster" style="--gutter: var(--space-xs-s)">
      <!-- date -->
      {% set definedDate = date %} {% include "partials/date.njk" %}
      {%
        if tags.length >
        1
      %}
        <!-- tags -->
        {% for tag in tags %}{% if tag != "posts" %}
          <a class="button post-tag" href="/tags/{{ tag }}"> {{ tag | upper }} </a>
        {% endif %}{% endfor %}
      {% endif %}
    </p>

    {{ content | safe }}
  </div>

</article>
