---
layout: base
permalink: /index.html
title: 'Core 567'
description: 'Sharing thoughts and rants about engineering and life'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center text-base-light">{{ title }}</h1>
      <div class="font-display text-center text-base-light">
        Thoughts and rants about engineering and life
      </div>
    </div>

    {% svg "divider/high-to-low", null, "seperator" %}
  </header>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>What's new?</h2>

      <div class="feature |  region">
        <custom-masonry layout="50-50">
          <!-- loop posts -->
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
						{% set definedDate = item.date %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>

      <div class="text-right">
        <a href="blog/index.html">Older posts</a>
      </div>

    </div>
  </section>
</div>
