---
layout: base
title: 'Core 567'
description: 'Sharing thoughts and rants about engineering and life'
permalink: /index.html
changeFreq: weekly
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 style="font-family: var(--font-base);" class="text-center text-base-light">{{ title }}</h1>
      <h3 style="font-family: var(--font-base);" class="text-center text-base-light">
        Thoughts and rants about engineering and life
      </h3>
    </div>

    {% svg "divider/high-to-low", null, "seperator" %}
  </header>

  <section class="full | region">
    <div class="wrapper flow prose">

      <div class="feature |  region">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
          {% asyncEach item in itemList %}
            {% set definedDate = item.date %}
            {% include "partials/card-blog.njk" %}
          {% endeach %}
        </custom-masonry>
      </div>

    </div>
  </section>
</div>
