<header class="wrapper">
  <a href="#main" class="skip-link">Skip to content</a>

  <div class="site-header | repel ontop">
    <a href="/" class="logo | cluster" {% if page.url == "/" %}aria-current="page"{% endif %}>
      <span>{{ meta.siteName }}</span>
    </a>
    {% include "partials/main-nav.njk" %}
  </div>
</header>
